<h1>Hi there!</h1>
<p>Welcome to Anurag's app</p>

<% if can? :read, SecretCode %>
	<%= link_to 'Manage secret codes',
            secret_codes_path,
            :class => 'btn btn-primary' %>
<% end %>
